.title {
    text-align: center;
}

input {
    width: 150px;
    margin-top: 1em;
}

main {
    margin-top: 1em;
}


.grid {
    
    width: 500px;
    height: 500px;
    display: grid;
    border-style: solid;

}

.genDiv {
    border-style:ridge;
    border-width: 1px;
}


.parentGrid {
    display: flex;
    justify-content: center ;
    margin-top: 50px;

}